# ===============================
# Miscellaneous
# ===============================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ===============================
# IntelliJ / VSCode
# ===============================
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# ===============================
# Flutter / Dart
# ===============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ===============================
# Android
# ===============================
android/.gradle/
android/gradle/
android/local.properties
android/**/build/
*.bin
*.lock

# ===============================
# iOS
# ===============================
ios/Pods/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine/
ios/.symlinks/

# ===============================
# Symbols / Obfuscation
# ===============================
app.*.symbols
app.*.map.json
